body {
    margin: 0px; 
    padding: 0px;
}

#canvas {
    border: 1px solid black;
    width: 760px;
    margin-left: auto;
    margin-right: auto;
}

/**
 * to fit on a 1024x768 screen the max canvas height should
 * be < 670px
 */

/** TOOLBARS **/
#toolbar-network {
    height: 60px;
    background-color: #bbbbff;
}

#toolbar-game {
    height: 90px;
    background-color: #CDCDCD;
}

#viewport {
    /* 760x430 = 16:9 resolution */
    margin: 0 0 0 0;
    padding: 0 0 0 0;
    width: 760px;
    height: 430px;
    background-color: #a81e1e;
    overflow: hidden;
}
div.vp-block {
    display: block;
    width: 760px;
    height: 430px; /** full size of viewport **/
    background-color: red;
    padding: 0em;
    margin: 0 0 0 0;
}
div.content {
    margin: 0em;
    padding: 1em;
}

#footer {
    height: 60px;
}